
.heading-container{
	position: sticky;
	top: 0px;
	background-color: white;
	display: grid;
}

.heading-container > *:first-child{
	grid-column: 1;
}

	.heading-container > *:last-child {
		grid-column: 2;

		display: flex;
		justify-content: right;
	}

.view-toggle-container{
	justify-self: right;
}

.view-toggle-container:hover{
	cursor: pointer;
}

.view-toggle-container:first-child{
	width: 48px;
	height: 48px;
}

.column-container {
	font-size: larger;
	font-style: oblique;
}

.column-container > label{
	cursor: pointer;
}


.item-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}