@page "/testupload"

@inject IUploadService uploadService;

<PageTitle>TEST UPLOAD</PageTitle>

<h1>TEST - Upload</h1>

<InputFile OnChange="OnFileSelected"></InputFile>

@code {

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        IBrowserFile file = e.File;

        //Gets the file's data
        var maxAllowedSize = e.File.Size + 100;//28 * 1024 * 1024; // 28 MB

        using var stream = file.OpenReadStream(maxAllowedSize);
        using var memoryStream = new MemoryStream();
        await stream.CopyToAsync(memoryStream);
        byte[] fileBytes = memoryStream.ToArray();

        string fileName = file.Name.Replace(Path.GetExtension(file.Name), "");
        string extension = Path.GetExtension(file.Name).Replace(".", "");

        //Adds file to upload service to be uploaded
        uploadService.AddUploadFile(new FileBoxFile() { Name = fileName, Created = DateTime.Now, Type = extension }, fileBytes);
    }
}
